/* ---------------

Main CSS Start

--------------- */

:root {
    --pink: #fedbf4;
    --darkPink: #988392;
    --black: #292a2d;
}

::-moz-selection {
    background-color: var(--pink);
    color: var(--black);
}

::selection {
    background-color: var(--pink);
    color: var(--black);
}

* {
    padding: 0;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--black);
    font-family: 'Jost', sans-serif;

    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 400 !important;
}

a {
    text-decoration: none;
    color: var(--black);
    transition: all 1s ease-in-out;
    position: relative;
}

a:not(.no-line):before,
a.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a:not(.no-line):hover:before,
a.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* ---------------

Misc

--------------- */

.gap {
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    font-size: 10vw;
    background-color: white;
}

.gap#first {
    background-color: black;
}

.gap h1 {
    will-change: transform;
}

main {
    margin: 0 0 30vh 0;
    height: auto;
    width: 100vw;
    max-width: 100vw;
    background-color: black;

    box-shadow:
        0 1.4px 13.8px rgba(0, 0, 0, 0.014),
        0 3.4px 33.3px rgba(0, 0, 0, 0.02),
        0 6.4px 62.6px rgba(0, 0, 0, 0.025),
        0 11.4px 111.7px rgba(0, 0, 0, 0.03),
        0 21.3px 208.9px rgba(0, 0, 0, 0.036),
        0 51px 500px rgba(0, 0, 0, 0.05);
}

section {
    min-height: 100vh;
    width: 100vw;

    background-color: transparent;
}

.flex {
    display: flex;
    -webkit-display: flex;
}

/* ---------------

Nav

--------------- */

header.side {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: fixed;
    height: 50px;
    width: 100vh;
    z-index: 9998;
}

#l {
    transform-origin: left top;
    -webkit-transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
}

#r {
    opacity: 0.5;
    top: 0;
    right: 0;
    left: 99vw;

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    transition: opacity 0.5s ease-in-out;
}

#r:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

header.side h1 {
    margin: 0 auto;
    padding: 2% 0 0 0;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    transition: all 1s ease-in-out;
}

nav ul {
    padding-right: 1vw;
    list-style: none;
}

nav ul li {
    float: left;
    font-size: 1rem;
    padding: 0.25vh 2vw;
}

nav ul>li {
    padding-left: 0;
}

.pink-hover:hover * {
    color: var(--pink);
}

/* ---------------

Home

--------------- */

#home {
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

#video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#title {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    animation-duration: 2s;
}

#title .line {
    margin-left: 10vw;
    height: cacl(100vh/4);
    padding: 1% 0;

    color: var(--darkPink);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10em;
    font-weight: 300;

    transform: translateY(100vh);

    -webkit-animation: floatUp 2s forwards ease-in-out;
    -moz-animation: floatUp 2s forwards ease-in-out;
    -o-animation: floatUp 2s forwards ease-in-out;
    animation: floatUp 2s forwards ease-in-out;
}

#title .line:nth-child(1) {
    animation-delay: 0.2s;
}

#title .line:nth-child(2) {
    animation-delay: 0.3s;
}

#title .line:nth-child(3) {
    animation-delay: 0.4s;
}

#title .line:nth-child(4) {
    animation-delay: 0.5s;
}

#title strong {
    color: var(--pink);
    font-weight: 300;
    will-change: font-weight;
    -webkit-animation: thicken 1s forwards ease-in-out;
    -moz-animation: thicken 1s forwards ease-in-out;
    -o-animation: thicken 1s forwards ease-in-out;
    animation: thicken 1s forwards ease-in-out;
    animation-delay: 2.5s;
}

/* ---------------

Name

--------------- */

#name {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 110vh;
    width: 100vw;
}

h2#outer-title {
    position: absolute;
    padding: 1% 0;
    width: 75%;

    color: var(--pink);

    text-align: center;
    font-size: 12vw;

    white-space: nowrap;
    z-index: 0;
}

#me {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100%;
    width: 50%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    font-size: 8vw;

    overflow: hidden;
    white-space: nowrap;
}

#me {
    background-image: url('../img/me/me-crop-b&w.png');
}

#me h2 {
    color: white;
}

#me:after {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0;
    transition: all 0.25s ease-in-out;
}

#me:after {
    background-image: url('../img/me/me-crop.png');
}

#me:hover:after {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

/* ---------------

About

--------------- */

#about {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    padding: 0 0 0 10%;

    height: 100vh;
    width: 100vw;

    color: var(--black);
}

#about h2 {
    padding-bottom: 2vh;
    font-size: 4em;
}

#about p {
    width: 50%;
    font-size: 1.5em;
    line-height: 1.8em;
}

/* ---------------

Reel

--------------- */

#reel {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

    color: var(--black);
}

#reel h1 {
    display: none;
}

#reel .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    width: 90%;
}

#reel .embed-container iframe,
#reel .embed-container object,
#reel .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------------

Work

--------------- */

#work {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#work h1 {
    display: none;
}

#work--row {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#work .frame {
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 100vh;
    width: calc(100%/3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: width 0.5s ease-in-out;
    z-index: 0;
}

#work .frame:hover {
    width: 70vw;
}

.frame a {
    align-self: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    z-index: 3;
}

#frame--headings {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 1%;
    background-color: var(--pink);
    width: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

.frame:hover #frame--headings,
.frame:hover a {
    opacity: 1;
}

.frame a:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.work--video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

#frame--headings p {
    font-style: italic;
}

#diy {
    background-image: url(../img/work/diy.jpg);
}

#wayc {
    background-image: url(../img/work/wayc.png);
}

#fagot {
    background-image: url(../img/work/fagot.png);
}

/* ---------------

Scripts

--------------- */

#scripts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    min-height: 100vh;
    width: 100vw;
}

#scripts h1 {
    display: none;
}

.box {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 400px;
    width: 400px;

    margin: 50px;
    padding: 20px;

    transform: scale(1);

    outline: 0px;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    transition: all 0.5s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    outline: 5px solid var(--black);
    background-color: var(--pink);
    transition: all 0.25s ease-in-out;
}

.inactive .box:hover {
    cursor: default;
    outline: none;
}

/* ---------------

Contact

--------------- */

#contact {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-height: 100vh;

    color: var(--black);
}

#contact #contact--header {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 3em;

    height: 25%;
    width: 100%;
}

#contact #contact--form {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    min-height: 75%;
    width: 100%;
}

#contact #contact--form .left,
#contact #contact--form .right {
    flex-direction: row;
    align-content: center;

    height: 100%;
    width: 45%;
}

#contact #contact--form .left {
    justify-content: flex-end;
}

form {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-size: 1em;

    width: 50%;
    height: 90%;
}

form label {
    display: none;
}

form input[type="text"],
form textarea {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--black);
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    height: 40px;
    width: 100%;
    transition: all 0.25s ease-in-out;
}

form input[type="text"]:focus,
form textarea:focus {
    background-color: var(--black);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--pink);
    transition: all 0.25s ease-in-out;
}

form input[type="text"]::placeholder,
form textarea::placeholder {
    opacity: 1;
    color: var(--black);
    transition: all 0.25s ease-in-out
}

form input[type="text"]:focus::placeholder,
form textarea:focus::placeholder {
    opacity: 0.2;
    color: white;
    transition: all 0.25s ease-in-out
}

form input[type="submit"] {
    align-self: flex-end;
    margin-top: 20px;
    font-family: 'Jost', sans-serif;
    font-size: 1em;
    border: none;
    background-color: var(--black);
    color: white;
    height: 50px;
    width: 100px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

form input[type="submit"]:hover {
    border: 1px solid var(--black);
    background-color: var(--pink);
    color: var(--black);
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

#contact #contact--form .right {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    border-left: 2px solid var(--black);
    padding: 0 0 0 3%;
}

#contact--form #row--wrapper {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 25%;
    width: 100%;
}

#contact--form #row--wrapper .row {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1vh 0;

    width: 100%;
}

#contact--form #row--wrapper .row span {
    margin: 0 0 0 20px;
    font-size: 1em;
    line-height: 25px;
}

/* ---------------

Footer

--------------- */

footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;

    height: 30vh;
    width: 100vw;

    background-color: var(--black);

    z-index: -2;
}

footer * {
    color: var(--pink) !important;
}

footer .left,
footer .right {
    flex-direction: column;
    justify-content: space-around;

    height: 90%;
    width: 45%;
}

footer a:before,
footer a.active:before {
    background-color: var(--pink);
}

footer .left {
    align-items: flex-start;
}

footer .right {
    align-items: flex-end;
}

footer h5,
footer h4 {
    font-weight: 300;
}

footer h4 {
    font-size: 1.5em;
}

footer h5 {
    font-size: 1em;
}

/* ---------------

Aniamtions

--------------- */

/* --------------- Thicken --------------- */

@-webkit-keyframes thicken {
    from {
        font-weight: 300;
    }

    to {
        font-weight: 500;
    }
}

@-moz-keyframes thicken {
    from {
        font-weight: 300;
    }

    to {
        font-weight: 500;
    }
}

@-o-keyframes thicken {
    from {
        font-weight: 300;
    }

    to {
        font-weight: 500;
    }
}

@keyframes thicken {
    from {
        font-weight: 300;
    }

    to {
        font-weight: 500;
    }
}

/* --------------- Float Up --------------- */

@-webkit-keyframes floatUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@-moz-keyframes floatUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@-o-keyframes floatUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes floatUp {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

/* --------------- toWhite --------------- */

.toWhite {
    animation: toWhite 1s forwards ease-in-out;
    -webkit-animation: toWhite 1s forwards ease-in-out;
}

@-webkit-keyframes toWhite {
    to {
        background-color: white;
    }
}

@-moz-keyframes toWhite {
    to {
        background-color: white;
    }
}

@-o-keyframes toWhite {
    to {
        background-color: white;
    }
}

@keyframes toWhite {
    to {
        background-color: white;
    }
}